*{
    margin: 0;
    padding: 0;
    /* se cambia el modelo de la pagina */
    box-sizing: border-box;
}


html{
    background-image: url(/leonardoalarconm.github.io/imagenes/experiencia-en-copenhague-dinamarca-por-michelle-53557b3c0e740be5104f8ad60b128ec7.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 1800px;
    background-attachment: fixed;
    background-size: cover;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* SE adapta a cualquier tamaño de pantalla */
    font-size: 1.5em;
    /* ocupe toda la pantalla */
    min-height: 100%;
}

body > *{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

body{
    display: grid;
        /* proporciona una cuadrícula de una sola columna */
        gap: 10px;
        /*Separación de los elementos */
}

body{
    /* definir las area para un mismo diseño */
    grid-template-areas:
    "header"
    "nav"
    "article"
    "aside"
    "footer";
}


.header{
    grid-area: header;
    background-color: rgb(255, 116, 97);
}

.nav{
    grid-area: nav;
    background-color: rgb(92, 92, 253);
}

.article {
    grid-area: article;
    background-color: rgb(120, 230, 47);
}

.aside {
    grid-area: aside;
    background-color: rgb(255, 202, 56);
}

.footer {
    grid-area: footer;
    background-color: rgb(157, 19, 192);
}

/*----------------------------------------*/
/*_____________EFECTOS DE IMAGEN__________*/
/*----------------------------------------*/
img:hover{
    filter: blur(5px);  /*EFECTO DESENFOQUE*/
    /* filter: grayscale(80%); BLANCO Y NEGRO */
    /* filter: sepia(60%); QUE SE PIERDA LOS COLORES */
    /* filter: saturate(180%); DA MAS COLOR A LA IMAGEN*/
    /* filter: opacity(.5); SE NOTA MAS O MENOS (SOLO ES DE 0 A 1) */
}

/* PSEUDOCODIGO:es una palabra clave que se añade a los selectores y que especifica un estado especial del elemento seleccionado */

/* TAMAÑO TABLET */
@media (min-width:600px){
    body{
        grid-template-columns: 200px auto;
    grid-template-rows: 100px 50px auto 100px;
    grid-template-areas: 
    "header header"
    "nav nav"
    "aside article"
    "footer footer"
    ;
}
}

/* TAMAÑO ESCRITORIO */
@media(min-width:900px){
    body{
        grid-template:
        "header header header" 100px
        "nav article aside" auto
        "footer footer footer"100px /
        200px auto 200px
        ;
    }
}