*{
    margin: 0;
    background-color: rgb(233, 85, 85);
}

.nav{
    background: brown;
}

.menu{
    width: 500px;
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo{
    font-size: 80px;
    text-align: center;
    margin: 10px 0px 5px 0px;
    background: rgb(255, 199, 16);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: royalblue;
            font-family: Arial Black;
            font-weight: bold;
            color: rgb(252, 249, 250);
            text-shadow: 4px 4px rgb(13, 136, 236)
}

ul{
    list-style: none;
}

.lista > li{
    float:left;}

.lista li a{
    background-color: rgb(255, 49, 49);
    color: rgb(255, 227, 227);
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

.dina > li{
    float: left;
}


.dina li a{
    background-color: rgb(255, 49, 49);
        color: rgb(255, 277, 277);
        text-decoration: none;
        padding: 10px ;
        display: block;
}

.lista li a:hover{
    background-color: rgb(160, 38, 38);
    color: rgb(251, 255, 24);
}
.dina li a:hover{
    background-color: rgb(160, 38, 38);
        color: rgb(255, 255, 50);
}
.lista li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.dina li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}

.lista li:hover >ul{
    display: block;
}
.dina li:hover>ul {
    display: block;
}

.lista li ul li{
    position: relative;
}
.dina li ul li{
    position: relative;
}
.fotos h1{
    text-align: left;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 20px 10px;
    color: rgb(255, 240, 24);
    text-decoration: underline;
}

.turismo{
    display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
}

.postal{
    padding: 0 20px 20px;
}

.postal img{
    /* width: 390px;
    max-width: 200%; */
    max-height: 280px;
    max-width: 280px;
}

img:hover{
    opacity: .20;
    transition: 1s;
}

.postal p{
    text-align: center;
    margin:5px;
    color: white;
}

.fotos >p{
    text-align: justify;
    margin: 0px 15px 40px 10px;
}

.footercolor {
    background-color: rgb(255, 240, 24);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 20px 0px 0px 0px;

}

footer img {
    width: 20px;
    height: 20px;

}