* {
    margin: 0;
    
}

nav {
    background-color: rgb(255, 0, 76);
}

.navbar{
    position: sticky;
    top: 0px;
}

.menu {
    text-align: center;
    margin: 2px;
}

.menu li {
    display: inline-block;
}

.menu a {
    padding: 19px;
    /*Separar los bloques*/
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
}

.menu a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 76);
}

.img2 img{
    width: 100%;
    height: 100%;
    
}

.entrada {
    background-color: rgb(255, 0, 76);
    text-align: center;
    overflow:hidden;
    /*Quitar el espacio sup. */
    padding: 20px;
}

.contorno {
    text-align: center;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 30px;
    color: rgb(252, 249, 250);
    text-shadow:  4px 4px rgb(150, 9, 9)
}

.l3d {
    text-align: center;
    font-family: Arial Black;
    font-weight: bold;
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-shadow: 0 1px 0 #bbb, 0 2px 0 #bbb, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(255, 2, 2, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
    border: 0%;
}

.desenfoque {
    text-align: center;
    font-family: Arial black;
    font-weight: bold;
    font-size: 30px;
    color: rgba(175, 59, 59, 0);
    /* somb-x | somb-y | desenf-radio | color */
    text-shadow: 0 0 3px #8E59A9;
    text-transform: uppercase;
}

.neon {
    text-align: center;
    font-family: Arial;
    font-size: 30px;
    COLOR: #1278BF;
    text-shadow: 0px 0px 9px #c5e418;
}


.sec{
    background-color: white;
    margin: 0px 0px 40px 0px;
}

.foto img {
    width: 80%;
    height: 80%;
    /*la imagen se ajusta al contenido*/
    object-fit: contain; 
    /*mover la imagen dentro de un contenedor*/
    object-position: 0px 30px;
    margin: 10px 10px 20px 10px;
    
}

.parrafoimg{
    text-align: justify;
    margin: 0px 50px 90px 50px;
}

.banderas img{
    width: 50%;
    height: 50%;
    float: left;
    margin: 10px;
}

.banderas p{
    margin: 40px 30px 100px 10px ;
    text-align: justify;
}

.banderas h1{
    text-align: center;
    color:#f8f8f8 ;
    background-color: #e41818;
    margin: 10px 0px;
    font-size: 30px;
    caption-side: top;
    
}

caption{
    font-size: 30px;
    color: #f8f8f8;
    caption-side: top;
    margin: 10px 0px 20px 0px;
    background-color: #bf1212;
}

.tabl{background-color: rgb(224, 158, 158);
}

table{
    /* cambiar el tamaño de las columnas */
    /* table-layout:auto ;width: 50%; */
    /* ajustar el texto a la celda */
    /* table-layout: fixed; width: 30%; */
    width: 80%;
    margin: 0 auto;
    /* border-spacing: 0; */
    border-collapse: collapse;}
    

.cabeza td{
    background-color: #fefbff;
    color: #e41818;
}

td, tr{
    width: 25%;
    text-align: center;
    /* solid(linea entera),dashed(linea entrecortada),dotted(puntitos) */
    border: 0.5px solid rgb(0, 0, 0);

}

.footercolor{
    background-color: rgb(255, 0, 76);
    color: white;
    padding: 10px;
    margin: 20px 0px 0px 0px;
    
}

footer img{
    width: 20px;
    height: 20px;
    
}

